<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984967326312-2g68q9vok858nsrsbpf92hmc1q7pnegm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984967326312-2g68q9vok858nsrsbpf92hmc1q7pnegm</string>
	<key>API_KEY</key>
	<string>AIzaSyCqVFsNH3j-itSHUB1qji51WxKG0FGS9mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>984967326312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pawguard</string>
	<key>PROJECT_ID</key>
	<string>pawguard-da417</string>
	<key>STORAGE_BUCKET</key>
	<string>pawguard-da417.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984967326312:ios:2253b95924ce79cd9f29dd</string>
</dict>
</plist>